# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
